In [94]:
import pandas as pd
import pandasql as ps
from faker import Faker
import numpy as np
import random
import datetime

In [3]:
# Using package faker to create some dummy / fake names 
fake = Faker()

In [5]:
# Load the fake names to a list
names = []
for i in range(1000):
    names.append(fake.name())

In [7]:
# Make sure that the fake names are generated 
names[0:10]

['Gloria Lee',
 'Karen Christensen',
 'Nicole Lopez',
 'Rodney Mccarthy',
 'Heather Brooks',
 'Andrew Sandoval',
 'Margaret Crane',
 'Heather Solis',
 'William Warner',
 'Terry Armstrong']

In [9]:
# Dedupe in case there are duplicated names
unique_names = list(dict.fromkeys(names))

In [10]:
len(unique_names)

997

In [66]:
# Generate a dataframe with the column "name" using the list of names generated
df_name = pd.DataFrame(unique_names)
df_name.columns = ["name"]

In [67]:
df_name.head()

                name
0         Gloria Lee
1  Karen Christensen
2       Nicole Lopez
3    Rodney Mccarthy
4     Heather Brooks

In [20]:
user_id = list(df_name.index)

In [23]:
# Assume 100 users post the referral message as their facebook status
number_user_post_referral = 100
user_id_post = random.sample(user_id, number_user_post_referral)

In [26]:
# Assume 300 users signed up through the referral program through their friends 
number_user_signup_from_referral = 300
user_id_referral = random.sample(user_id, number_user_signup_from_referral)

In [27]:
len(user_id_post)

100

In [28]:
len(user_id_referral)

300

In [38]:
referral_list = []

for i in user_id_referral:
    user_id_post_temp = random.sample(user_id_post, 1)[0]
    referral_list.append([i, user_id_post_temp])

In [39]:
referral_list[0:10]

[[399, 138],
 [33, 723],
 [749, 57],
 [177, 334],
 [189, 554],
 [911, 816],
 [626, 554],
 [296, 750],
 [585, 218],
 [67, 136]]

In [49]:
df_referral_list = pd.DataFrame.from_records(referral_list)
df_referral_list = df_referral_list.rename({0: 'id', 1: 'referring_user_id'}, axis = 1)

In [50]:
df_referral_list.head()

    id  referring_user_id
0  399                138
1   33                723
2  749                 57
3  177                334
4  189                554

In [44]:
len(df_referral_list[0].unique())

300

In [45]:
len(df_referral_list[1].unique())

98

In [69]:
df_name.reset_index(level = 0, inplace = True)

In [76]:
df_name = df_name.rename({'index': 'id'}, axis = 1)

In [77]:
df_name.head()

   id               name
0   0         Gloria Lee
1   1  Karen Christensen
2   2       Nicole Lopez
3   3    Rodney Mccarthy
4   4     Heather Brooks

In [210]:
df_user = pd.merge(left=df_name, right=df_referral_list, how='left', on ='id')

In [211]:
df_user.head()

   id               name  referring_user_id
0   0         Gloria Lee              891.0
1   1  Karen Christensen                NaN
2   2       Nicole Lopez                NaN
3   3    Rodney Mccarthy                NaN
4   4     Heather Brooks                NaN

In [212]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997 entries, 0 to 996
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 997 non-null    int64
 1   name               997 non-null    object
 2   referring_user_id  300 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 31.2+ KB

In [214]:
df_user.referring_user_id = df_user.referring_user_id.astype('Int64')

In [215]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997 entries, 0 to 996
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 997 non-null    int64
 1   name               997 non-null    object
 2   referring_user_id  300 non-null    Int64
dtypes: Int64(1), int64(1), object(1)
memory usage: 32.1+ KB

In [376]:
df_user

      id               name  referring_user_id
0      0         Gloria Lee                891
1      1  Karen Christensen               <NA>
2      2       Nicole Lopez               <NA>
3      3    Rodney Mccarthy               <NA>
4      4     Heather Brooks               <NA>
..   ...                ...                ...
992  992      Angela Nguyen               <NA>
993  993      Jerry Wiggins               <NA>
994  994    Raymond Padilla               <NA>
995  995   Christopher Cruz               <NA>
996  996      Thomas Bailey                510

[997 rows x 3 columns]

In [120]:
len(df_user.referring_user_id.unique())

99

In [121]:
df_user.head()

      id               name  referring_user_id
0      0         Gloria Lee              891.0
1      1  Karen Christensen                NaN
2      2       Nicole Lopez                NaN
3      3    Rodney Mccarthy                NaN
4      4     Heather Brooks                NaN
..   ...                ...                ...
992  992      Angela Nguyen                NaN
993  993      Jerry Wiggins                NaN
994  994    Raymond Padilla                NaN
995  995   Christopher Cruz                NaN
996  996      Thomas Bailey              510.0

[997 rows x 3 columns]

In [392]:
total = []
for i in range(len(df_user.id)):
    total.append(50*random.random())

In [393]:
start_date = datetime.date(2020, 11, 1)
end_date = datetime.date(2020, 12, 1)

time_between_dates = end_date - start_date
days_between_dates = time_between_dates.days
random_number_of_days = random.randrange(days_between_dates)
random_date = start_date + datetime.timedelta(days=random_number_of_days)

In [394]:
date = []
start_date = datetime.date(2020, 11, 1)
end_date = datetime.date(2020, 12, 1)

for random_date in range(len(df_user.id)):
    start_date = datetime.date(2020, 11, 1)
    end_date = datetime.date(2020, 12, 1)

    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)
    
    date.append(random_date)

In [395]:
df_purchase = pd.DataFrame({'user_id': df_user.id, 'date': date, 'total': total })

In [396]:
df_purchase.head()

   user_id        date      total
0        0  2020-11-29  30.769356
1        1  2020-11-29  38.646493
2        2  2020-11-07  20.686612
3        3  2020-11-02  46.859890
4        4  2020-11-28  42.258395

In [397]:
df_purchase = df_purchase.sort_values('date').reset_index(drop=True).reset_index()

In [398]:
df_purchase = df_purchase.rename({'index': 'id'}, axis = 1)

# Data set user and purchase are created

In [399]:
df_user.head(10)

   id               name  referring_user_id
0   0         Gloria Lee                891
1   1  Karen Christensen               <NA>
2   2       Nicole Lopez               <NA>
3   3    Rodney Mccarthy               <NA>
4   4     Heather Brooks               <NA>
5   5    Andrew Sandoval               <NA>
6   6     Margaret Crane               <NA>
7   7      Heather Solis               <NA>
8   8     William Warner                975
9   9    Terry Armstrong                720

In [400]:
df_purchase.head(10)

   id  user_id        date      total
0   0      325  2020-11-01  17.319093
1   1      372  2020-11-01  16.678905
2   2      973  2020-11-01  26.341131
3   3      689  2020-11-01  25.594784
4   4      809  2020-11-01  14.450100
5   5      370  2020-11-01   4.158096
6   6      297  2020-11-01  40.096005
7   7      881  2020-11-01  17.395389
8   8      429  2020-11-01  16.761624
9   9      713  2020-11-01   7.224745

In [401]:
query = """
SELECT 
df_purchase.id AS id,
user_id,
referring_user_id,
date,
total,
CASE 
    WHEN
        ( referring_user_id IS NOT NULL ) AND ( df_user.id IN (  
            SELECT DISTINCT referring_user_id
            FROM df_user
            WHERE referring_user_id IS NOT NULL
        )) THEN 30
        
    WHEN
        ( referring_user_id IS NOT NULL ) AND ( df_user.id NOT IN (  
            SELECT DISTINCT referring_user_id
            FROM df_user
            WHERE referring_user_id IS NOT NULL
        )) THEN 20
    WHEN
        ( referring_user_id IS NULL ) AND ( df_user.id IN (  
            SELECT DISTINCT referring_user_id
            FROM df_user
            WHERE referring_user_id IS NOT NULL
        )) THEN 10       
    ELSE 0
END AS discount
FROM df_purchase LEFT JOIN df_user ON df_user.id = df_purchase.user_id

"""

In [402]:
df_purchase_with_discount = ps.sqldf(query)

In [403]:
df_purchase_with_discount.id= df_purchase_with_discount.id.apply(str)
df_purchase_with_discount.user_id= df_purchase_with_discount.user_id.apply(str)
df_purchase_with_discount.referring_user_id = df_purchase_with_discount.referring_user_id.astype('Int64').apply(str)
df_purchase_with_discount.total = df_purchase_with_discount.total.round(2)

In [404]:
df_purchase_with_discount.head(10)

  id user_id referring_user_id        date  total  discount
0  0     325              <NA>  2020-11-01  17.32         0
1  1     372              <NA>  2020-11-01  16.68         0
2  2     973              <NA>  2020-11-01  26.34         0
3  3     689              <NA>  2020-11-01  25.59         0
4  4     809              <NA>  2020-11-01  14.45         0
5  5     370              <NA>  2020-11-01   4.16        10
6  6     297              <NA>  2020-11-01  40.10         0
7  7     881               544  2020-11-01  17.40        20
8  8     429                57  2020-11-01  16.76        20
9  9     713               259  2020-11-01   7.22        30

In [405]:
df_purchase_with_discount.describe()

            total    discount
count  997.000000  997.000000
mean    25.080642    7.001003
std     14.413674    9.680280
min      0.050000    0.000000
25%     12.490000    0.000000
50%     25.550000    0.000000
75%     37.120000   20.000000
max     49.980000   30.000000

In [410]:
query_with_program = """

SELECT
SUM(total) AS total_purchase,
SUM(discount) AS total_discount,
SUM(total) - SUM(discount) AS net
FROM df_purchase_with_discount

"""

In [411]:
ps.sqldf(query_with_program)

   total_purchase  total_discount      net
0         25005.4            6980  18025.4

In [412]:
query_without_program = """

SELECT
SUM(total) AS total_purchase,
SUM(discount) AS total_discount,
SUM(total) - SUM(discount) AS net
FROM df_purchase_with_discount
WHERE discount = 0
"""

In [413]:
ps.sqldf(query_without_program)

   total_purchase  total_discount      net
0         15510.4               0  15510.4

# Visulization

In [463]:
# Trend with the referral program

query_with_program_trend = """

WITH base AS (
    SELECT
    date,
    SUM(total) AS total_purchase,
    SUM(discount) AS total_discount
    FROM df_purchase_with_discount
    GROUP BY date
    ORDER BY date DESC
)

SELECT 
date,
total_purchase,
total_discount,
(total_purchase - total_discount) AS net_revenue_withprogram,
SUM(total_purchase) OVER (ORDER BY date) - SUM(total_discount) OVER (ORDER BY date) AS running_total_net_with_program
FROM base
ORDER BY date DESC

"""

In [464]:
trend_with_program = ps.sqldf(query_with_program_trend)

In [465]:
trend_with_program.head()

,date,total_purchase,total_discount,net_revenue_withprogram,running_total_net_with_program
0,2020-11-30,967.25,220,747.25,18025.40
1,2020-11-29,843.86,150,693.86,17278.15
2,2020-11-28,880.30,250,630.30,16584.29
3,2020-11-27,848.19,240,608.19,15953.99
4,2020-11-26,812.06,140,672.06,15345.80

In [466]:
query_without_program_trend = """

WITH base AS (
    SELECT
    date,
    SUM(total) AS total_purchase
    FROM df_purchase_with_discount
    WHERE discount = 0
    GROUP BY date
    ORDER BY date DESC
)

SELECT 
date,
total_purchase as net_revenue_without_program,
SUM(total_purchase) OVER (ORDER BY date) AS running_total_net_without_program
FROM base
ORDER BY date DESC

"""

In [467]:
trend_without_program = ps.sqldf(query_without_program_trend)

In [468]:
trend_without_program.head()

         date  net_revenue_without_program  running_total_net_without_program
0  2020-11-30                       666.85                           15510.40
1  2020-11-29                       628.12                           14843.55
2  2020-11-28                       635.10                           14215.43
3  2020-11-27                       553.42                           13580.33
4  2020-11-26                       577.36                           13026.91

In [469]:
query_merge_for_comparison= """

SELECT 
trend_with_program.date AS date,
net_revenue_withprogram,
net_revenue_without_program,
running_total_net_with_program,
running_total_net_without_program
FROM trend_with_program 
LEFT JOIN trend_without_program ON trend_with_program.date = trend_without_program.date

"""

In [470]:
df_comparison = ps.sqldf(query_merge_for_comparison)

In [471]:
df_comparison.head()

,date,net_revenue_withprogram,net_revenue_without_program,running_total_net_with_program,running_total_net_without_program
0,2020-11-30,747.25,666.85,18025.40,15510.40
1,2020-11-29,693.86,628.12,17278.15,14843.55
2,2020-11-28,630.30,635.10,16584.29,14215.43
3,2020-11-27,608.19,553.42,15953.99,13580.33
4,2020-11-26,672.06,577.36,15345.80,13026.91

In [476]:
import plotly.graph_objects as go

fig = go.Figure()
fig.add_trace(go.Scatter(x=df_comparison.date, 
                         y=df_comparison.net_revenue_withprogram,
                         mode='lines',
                         name='With Referral Program'))
fig.add_trace(go.Scatter(x=df_comparison.date, 
                         y=df_comparison.net_revenue_without_program,
                         mode='lines',
                         name='Without Referral Program'))

fig.update_layout(title='Daily Net Revenue Comparison',
                   xaxis_title='Date',
                   yaxis_title='Net Revenue $',
                   yaxis = dict(range=[0, 1000]),
                   legend=dict(
                        orientation="h",
                        yanchor="bottom",
                        y=1.02,
                        xanchor="right",
                        x=1
                    ),
                   hovermode='x unified')

fig.show()

In [457]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df_comparison.date, 
                         y=df_comparison.running_total_net_with_program,
                         mode='lines',
                         name='With Referral Program'))
fig.add_trace(go.Scatter(x=df_comparison.date, 
                         y=df_comparison.running_total_net_without_program,
                         mode='lines',
                         name='Without Referral Program'))

fig.update_layout(title='Running Total Net Revenue Comparison',
                   xaxis_title='Date',
                   yaxis_title='Net Revenue $',
                   legend=dict(
                        orientation="h",
                        yanchor="bottom",
                        y=1.02,
                        xanchor="right",
                        x=1
                    ),
                   hovermode='x unified')

fig.show()